.card_data{
  height: 540px;
  display: flex; 
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

.card_body{
  height: 540px;
  display: flex; 
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

.card_footer{
  display: flex; 
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border: none;
}


/* QR code generator */


